// pug permet de générer la page html différemment selon le contexte.
// Ici si le serveur a renvoyé un message d'erreur un élément est ajouté en bas de la page...
html
  head
    title Login
    link(rel='stylesheet', href='/style.css')
    link(rel="icon" href="images/prouge32x32.png" type="image/x-icon")
  body
    div(id='titre')
      img(id='pictionary', src='/pictionary.png')
    div(class='login')
      h1 Se connecter
      form(method='POST', action='/auth', id='form')
        input(type='text', name='username', placeholder="Nom d'utilisateur", value=username, required)
        input(type='password', name='password', placeholder="Mot de passe", required)
        input(type='submit', value='Valider')
    if message
      p.error= message
