h1 {
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: 200%;

}

body {
    background-image: url("https://i.pinimg.com/originals/21/61/1b/21611b38a1a7f75b483162fe7386c326.jpg");
    background-size: cover;
}

#bienvenue{
    color: red  ;
    text-align: center;
    font-size: 150%;
    border: 1rem solid;
}

#big-container {
    width: 100%;
    display: flex;
}



#chat-contents-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#chat-footer {
    /* ajoute de l'espace après le tag */
    margin-bottom: 15px; 
}

#chat-form {
    height: 100%;
}

#word-to-find-box {
    /* align center */
    margin-left: auto;
    margin-right: auto;
    /* -------------- */
    text-align: center;
    background-color: rgba(199, 196, 190, 0.199);

    /* ajouter de l'espace */
    padding-top: 2px;
    padding-bottom: 2px;
    /* TODO: transformer en grid */
    width: 36%;
}

#word-to-find {
    font-size: 2rem;
}

/* 3 containers globaux */
#middle-container {
    /* align center */
    margin-left: 5px;
    margin-right: 5px;
    /* -------------- */
    border: 0.1rem solid lavender;
    width: 1000px;
    height: 600px;
}

#chat-container {
    /* margin-left: 5px;
    margin-right: 5px; */
    width: 20%;
    border: 0.1rem solid lavender;
    background-color: rgb(187, 187, 187);
    
}

#users-container {
    margin-left: 5px;
    margin-right: 100px;
    width: 20%;
    border: 0.1rem solid green;
    background-color: rgb(187, 187, 187);
    
}

#chat-body p:nth-child(2n) {
    background-color: rgb(218, 218, 218);
}

#chat-body p {
    padding-left: 10px;
}


.player-rank {
    font-weight: bold;
    font-size: 2rem;
}

.player-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 243, 254);
    padding-left: 20px;
    padding-right: 20px;
}

.align-vertical {  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-height {
    height: 100%;
}

.no-margin {
    margin:0;
}

.player-container {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}