* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    background-image: url('fond.png');
}

#titre {
    text-align: center;
}

#pictionary {
    height: 150px;
    width: 645px;
    image-rendering: pixelated;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.login {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.login h1 {
    text-align: center;
    font-size: 24px;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form input {
    font-size: 20px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    background-color: #e9e6ff;
    border: solid 1px black;
    font-weight: bold;
    border-radius: 8px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #8fbcff;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
}
.error {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 109, 109);
    border: solid 2px red;
    padding: 15px;
    width: 350px;
    text-align: center;
    font-weight: bold;
    border-style: double;
    border-radius: 10px;
}