body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fadede;
}

#tailles {
  display: flex;
  flex-direction: row;
}

#tailles div {
  align-self: center;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #000000;
  border: 2px solid;
  border-color: #000000;
  border-radius: 100%;
}

#container {
  margin-left: 1%;
  margin-top: 1%;
  border: 2px solid #000000;
  height: 500px;
  width: 600px;
}

img {
  margin-left: 0.5%;
  margin-top: 1%;
  border: 2px solid;
  border-color: #000000;
  height: 40px;
  width: 40px;
  image-rendering: pixelated;
}

#colors {
  display: flex;
  flex-direction: row;
}

#colors div{
  border: 2px solid;
  margin-left: 0.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 40px;
  width: 40px;
}
